# OS
.DS_Store

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual env
venv/
.env

# Local data
lib/ref/voices/
TEMP/
lib/publish
# Audio data (large files, download separately)
lib/voc/
lib/voc_data/
lib/*.zip

# Logs
*.log

# Others
.idea/
.vscode/ 